
coverage/
.sass-cache/
.idea/
.tmp/
dist/
node_modules/
setup/node_modules/
node_modules/acorn/CHANGELOG.md
node_modules/acorn/src/bin/
node_modules/acorn/src/locutil.js
node_modules/bindings/
node_modules/buffer-shims/
node_modules/bufferutil/
node_modules/caniuse-api/
node_modules/color-convert/route.js
node_modules/colormin/CHANGELOG.md
node_modules/cssnano/quickstart.js
node_modules/csso/lib/utils/clone.js
node_modules/detect-file/
node_modules/electron-to-chromium/
node_modules/expand-tilde/
node_modules/falafel/node_modules/.bin/
node_modules/falafel/node_modules/acorn/
node_modules/findup-sync/index.js
node_modules/fined/
node_modules/fs-exists-sync/
node_modules/function-bind/
node_modules/global-modules/
node_modules/global-prefix/
node_modules/gulp-angular-templatecache/node_modules/
node_modules/gulp-header/node_modules/
node_modules/gulp-header/test/fixture/anotherFile.txt
node_modules/gulp-header/test/fixture/file.txt
node_modules/gulp-jshint/node_modules/lodash/_arrayLikeKeys.js
node_modules/gulp-jshint/node_modules/lodash/_arraySample.js
node_modules/gulp-jshint/node_modules/lodash/_arraySampleSize.js
node_modules/gulp-jshint/node_modules/lodash/_arrayShuffle.js
node_modules/gulp-jshint/node_modules/lodash/_asciiSize.js
node_modules/gulp-jshint/node_modules/lodash/_asciiToArray.js
node_modules/gulp-jshint/node_modules/lodash/_asciiWords.js
node_modules/gulp-jshint/node_modules/lodash/_baseAssignIn.js
node_modules/gulp-jshint/node_modules/lodash/_baseAssignValue.js
node_modules/gulp-jshint/node_modules/lodash/_baseConformsTo.js
node_modules/gulp-jshint/node_modules/lodash/_baseFindKey.js
node_modules/gulp-jshint/node_modules/lodash/_baseGetTag.js
node_modules/gulp-jshint/node_modules/lodash/_baseIsArguments.js
node_modules/gulp-jshint/node_modules/lodash/_baseIsArrayBuffer.js
node_modules/gulp-jshint/node_modules/lodash/_baseIsDate.js
node_modules/gulp-jshint/node_modules/lodash/_baseIsMap.js
node_modules/gulp-jshint/node_modules/lodash/_baseIsNaN.js
node_modules/gulp-jshint/node_modules/lodash/_baseIsNative.js
node_modules/gulp-jshint/node_modules/lodash/_baseIsRegExp.js
node_modules/gulp-jshint/node_modules/lodash/_baseIsSet.js
node_modules/gulp-jshint/node_modules/lodash/_baseIsTypedArray.js
node_modules/gulp-jshint/node_modules/lodash/_basePropertyOf.js
node_modules/gulp-jshint/node_modules/lodash/_baseRest.js
node_modules/gulp-jshint/node_modules/lodash/_baseSample.js
node_modules/gulp-jshint/node_modules/lodash/_baseSampleSize.js
node_modules/gulp-jshint/node_modules/lodash/_baseSetToString.js
node_modules/gulp-jshint/node_modules/lodash/_baseShuffle.js
node_modules/gulp-jshint/node_modules/lodash/_castRest.js
node_modules/gulp-jshint/node_modules/lodash/_copySymbolsIn.js
node_modules/gulp-jshint/node_modules/lodash/_coreJsData.js
node_modules/gulp-jshint/node_modules/lodash/_createBind.js
node_modules/gulp-jshint/node_modules/lodash/_createCtor.js
node_modules/gulp-jshint/node_modules/lodash/_createCurry.js
node_modules/gulp-jshint/node_modules/lodash/_createFind.js
node_modules/gulp-jshint/node_modules/lodash/_createHybrid.js
node_modules/gulp-jshint/node_modules/lodash/_createPartial.js
node_modules/gulp-jshint/node_modules/lodash/_createRecurry.js
node_modules/gulp-jshint/node_modules/lodash/_createWrap.js
node_modules/gulp-jshint/node_modules/lodash/_customDefaultsAssignIn.js
node_modules/gulp-jshint/node_modules/lodash/_customDefaultsMerge.js
node_modules/gulp-jshint/node_modules/lodash/_customOmitClone.js
node_modules/gulp-jshint/node_modules/lodash/_defineProperty.js
node_modules/gulp-jshint/node_modules/lodash/_flatRest.js
node_modules/gulp-jshint/node_modules/lodash/_freeGlobal.js
node_modules/gulp-jshint/node_modules/lodash/_getRawTag.js
node_modules/gulp-jshint/node_modules/lodash/_getValue.js
node_modules/gulp-jshint/node_modules/lodash/_getWrapDetails.js
node_modules/gulp-jshint/node_modules/lodash/_hasUnicode.js
node_modules/gulp-jshint/node_modules/lodash/_hasUnicodeWord.js
node_modules/gulp-jshint/node_modules/lodash/_insertWrapDetails.js
node_modules/gulp-jshint/node_modules/lodash/_isMaskable.js
node_modules/gulp-jshint/node_modules/lodash/_isMasked.js
node_modules/gulp-jshint/node_modules/lodash/_memoizeCapped.js
node_modules/gulp-jshint/node_modules/lodash/_nativeKeys.js
node_modules/gulp-jshint/node_modules/lodash/_nativeKeysIn.js
node_modules/gulp-jshint/node_modules/lodash/_nodeUtil.js
node_modules/gulp-jshint/node_modules/lodash/_objectToString.js
node_modules/gulp-jshint/node_modules/lodash/_overArg.js
node_modules/gulp-jshint/node_modules/lodash/_overRest.js
node_modules/gulp-jshint/node_modules/lodash/_setToString.js
node_modules/gulp-jshint/node_modules/lodash/_setWrapToString.js
node_modules/gulp-jshint/node_modules/lodash/_shortOut.js
node_modules/gulp-jshint/node_modules/lodash/_shuffleSelf.js
node_modules/gulp-jshint/node_modules/lodash/_strictIndexOf.js
node_modules/gulp-jshint/node_modules/lodash/_strictLastIndexOf.js
node_modules/gulp-jshint/node_modules/lodash/_unicodeSize.js
node_modules/gulp-jshint/node_modules/lodash/_unicodeToArray.js
node_modules/gulp-jshint/node_modules/lodash/_unicodeWords.js
node_modules/gulp-jshint/node_modules/lodash/_updateWrapDetails.js
node_modules/gulp-jshint/node_modules/lodash/conformsTo.js
node_modules/gulp-jshint/node_modules/lodash/defaultTo.js
node_modules/gulp-jshint/node_modules/lodash/fp/F.js
node_modules/gulp-jshint/node_modules/lodash/fp/T.js
node_modules/gulp-jshint/node_modules/lodash/fp/assignAll.js
node_modules/gulp-jshint/node_modules/lodash/fp/assignAllWith.js
node_modules/gulp-jshint/node_modules/lodash/fp/assignInAll.js
node_modules/gulp-jshint/node_modules/lodash/fp/assignInAllWith.js
node_modules/gulp-jshint/node_modules/lodash/fp/conformsTo.js
node_modules/gulp-jshint/node_modules/lodash/fp/defaultTo.js
node_modules/gulp-jshint/node_modules/lodash/fp/defaultsAll.js
node_modules/gulp-jshint/node_modules/lodash/fp/defaultsDeepAll.js
node_modules/gulp-jshint/node_modules/lodash/fp/dropLast.js
node_modules/gulp-jshint/node_modules/lodash/fp/dropLastWhile.js
node_modules/gulp-jshint/node_modules/lodash/fp/extendAll.js
node_modules/gulp-jshint/node_modules/lodash/fp/extendAllWith.js
node_modules/gulp-jshint/node_modules/lodash/fp/findFrom.js
node_modules/gulp-jshint/node_modules/lodash/fp/findIndexFrom.js
node_modules/gulp-jshint/node_modules/lodash/fp/findLastFrom.js
node_modules/gulp-jshint/node_modules/lodash/fp/findLastIndexFrom.js
node_modules/gulp-jshint/node_modules/lodash/fp/includesFrom.js
node_modules/gulp-jshint/node_modules/lodash/fp/indexBy.js
node_modules/gulp-jshint/node_modules/lodash/fp/indexOfFrom.js
node_modules/gulp-jshint/node_modules/lodash/fp/lastIndexOfFrom.js
Would re
move node_modules/gulp-jshint/node_modules/lodash/fp/mergeAll.js
node_modules/gulp-jshint/node_modules/lodash/fp/mergeAllWith.js
node_modules/gulp-jshint/node_modules/lodash/fp/rangeStep.js
node_modules/gulp-jshint/node_modules/lodash/fp/rangeStepRight.js
node_modules/gulp-jshint/node_modules/lodash/fp/stubArray.js
node_modules/gulp-jshint/node_modules/lodash/fp/stubFalse.js
node_modules/gulp-jshint/node_modules/lodash/fp/stubObject.js
node_modules/gulp-jshint/node_modules/lodash/fp/stubString.js
node_modules/gulp-jshint/node_modules/lodash/fp/stubTrue.js
node_modules/gulp-jshint/node_modules/lodash/fp/symmetricDifference.js
node_modules/gulp-jshint/node_modules/lodash/fp/symmetricDifferenceBy.js
node_modules/gulp-jshint/node_modules/lodash/fp/symmetricDifferenceWith.js
node_modules/gulp-jshint/node_modules/lodash/fp/takeLast.js
node_modules/gulp-jshint/node_modules/lodash/fp/takeLastWhile.js
node_modules/gulp-jshint/node_modules/lodash/fp/where.js
node_modules/gulp-jshint/node_modules/lodash/fp/zipAll.js
node_modules/gulp-jshint/node_modules/lodash/stubArray.js
node_modules/gulp-jshint/node_modules/lodash/stubFalse.js
node_modules/gulp-jshint/node_modules/lodash/stubObject.js
node_modules/gulp-jshint/node_modules/lodash/stubString.js
node_modules/gulp-jshint/node_modules/lodash/stubTrue.js
node_modules/gulp-jshint/node_modules/minimatch/
node_modules/gulp-jshint/node_modules/readable-stream/
node_modules/gulp-jshint/node_modules/through2/
node_modules/gulp-util/node_modules/dateformat/
node_modules/gulp-util/node_modules/readable-stream/lib/internal/
node_modules/gulp-util/node_modules/through2/LICENSE.html
node_modules/gulp-util/node_modules/through2/LICENSE.md
node_modules/has/
node_modules/homedir-polyfill/
node_modules/ini/
node_modules/is-unc-path/
node_modules/is-windows/
node_modules/liftoff/lib/register_loader.js
node_modules/liftoff/node_modules/lodash.isplainobject/
node_modules/lodash.assignwith/
node_modules/lodash.isempty/
node_modules/lodash.isobject/
node_modules/lodash.isstring/
node_modules/lodash.mapvalues/
node_modules/lodash.memoize/
node_modules/lodash.pick/
node_modules/lodash.uniq/
node_modules/macaddress/
node_modules/map-cache/
node_modules/math-expression-evaluator/
node_modules/nan/
node_modules/natives/
node_modules/parse-filepath/
node_modules/parse-passwd/
node_modules/path-root-regex/
node_modules/path-root/
node_modules/postcss-discard-overridden/
node_modules/postcss-merge-rules/node_modules/
node_modules/postcss-minify-font-values/lib/uniqs.js
node_modules/postcss-reduce-initial/
node_modules/rcloader/node_modules/lodash.merge/
node_modules/reduce-css-calc/node_modules/balanced-match/LICENSE.md
node_modules/reduce-function-call/node_modules/balanced-match/LICENSE.md
node_modules/resolve-dir/
node_modules/svgo/node_modules/.bin/js-yaml
node_modules/svgo/node_modules/.bin/js-yaml.cmd
node_modules/svgo/node_modules/js-yaml/
node_modules/svgo/plugins/addAttributesToSVGElement.js
node_modules/svgo/plugins/removeElementsByAttr.js
node_modules/svgo/plugins/removeXMLNS.js
node_modules/unc-path-regex/
node_modules/utf-8-validate/
node_modules/vendors/
node_modules/vinyl-fs/node_modules/graceful-fs/.travis.yml
